<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="UTF-8">
        <title>PK Blog</title>
    </head>
    <body>
        <h1><span th:text="${post.title}"></span></h1>
        <h2><span th:text="${post.introduction}"></span></h2>
        <p><span th:text="${post.paragraph1}"></span></p>
        <p><span th:text="${post.paragraph2}"></span></p>
        <p><span th:text="${post.paragraph3}"></span></p>
        <p><span th:text="${post.conclusion}"></span></p>
        <p><span th:text="${post.username}"></span></p>
        <p><span th:text="${post.date}"></span></p>   
    </body>
</html>
