<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PK Blog</title>
    <title>Blog</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="src/main/resources/templates/styles.css" rel="stylesheet">
</head>

<body>
<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">

      <div class="col-6 text-center">
        <a class="blog-header-logo text-dark" href="#">
          <img src="src/main/resources/templates/logo.png" alt="PageLogo">
        </a>
      </div>
      <div class="col-4 d-flex justify-content-end">
        <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
      </div>
    </div>
  </header>

 

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Dummy trending post</h1>
      <p class="lead my-3">Brief descrpition</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Topic</strong>
          <h3 class="mb-0">Article post</h3>
          <div class="mb-1 text-muted">"Date of article"</div>
          <p class="card-text mb-auto">More dummy text as a brief descrpition of article/post</p>
          <a href="/blogpost/0" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#ffd31a"/><text x="50%" y="50%" fill="#ffd31a" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Topic 2</strong>
          <h3 class="mb-0">Article post</h3>
          <div class="mb-1 text-muted">"Date of article"</div>
          <p class="mb-auto">More dummy text as a brief descrpition of article/post</p>
          <a href="/blogpost/1" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#ffd31a"/><text x="50%" y="50%" fill="#ffd31a" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Topic 6</strong>
          <h3 class="mb-0">Article post</h3>
          <div class="mb-1 text-muted">"Date of article"</div>
          <p class="card-text mb-auto">More dummy text as a brief descrpition of article/post</p>
          <a href="/blogpost/2" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#ffd31a"/><text x="50%" y="50%" fill="#ffd31a" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Topic 3</strong>
          <h3 class="mb-0">Article post</h3>
          <div class="mb-1 text-muted">"Date of article"</div>
          <p class="mb-auto">More dummy text as a brief descrpition of article/post</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#ffd31a"/><text x="50%" y="50%" fill="#ffd31a" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Topic</strong>
          <h3 class="mb-0">Article post</h3>
          <div class="mb-1 text-muted">"Date of article"</div>
          <p class="card-text mb-auto">More dummy text as a brief descrpition of article/post</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#ffd31a"/><text x="50%" y="50%" fill="#ffd31a" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Topic 4</strong>
          <h3 class="mb-0">Article post</h3>
          <div class="mb-1 text-muted">"Date of article"</div>
          <p class="mb-auto">More dummy text as a brief descrpition of article/post</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#ffd31a"/><text x="50%" y="50%" fill="#ffd31a" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Example title
      </h3>

      <article class="blog-post p-3 border bg-light">
        <h2 class="blog-post-title">Blog post</h2>
        <p class="blog-post-meta">June 21, 2020 by <a href="#">Felipe Rojas</a></p>

        <p>Hey, so you've reached this post. <strong>Have a nice day! you're doing excellent keep it up</strong> </p>
        <p>More dummy text to fill in the meantime</p>
      </article>

      <article class="blog-post p-3 border bg-light">
        <h2 class="blog-post-title">Another blog post</h2>
        <p class="blog-post-meta">June 21, 2020 by <a href="#">Felipe Rojas</a></p>

        <p>Hey, so you've reached this post. <strong>Have a nice day! you're doing excellent keep it up</strong> </p>
        <p>More dummy text to fill in the meantime</p>
      </article>

      <article class="blog-post p-3 border bg-light">
        <h2 class="blog-post-title">More blog post</h2>
        <p class="blog-post-meta">June 21, 2020 by <a href="#">Felipe Rojas</a></p>

        <p>Hey, so you've reached this post. <strong>Have a nice day! you're doing excellent keep it up</strong> </p>
        <p>More dummy text to fill in the meantime</p>
      </article>

      <article class="blog-post p-3 border bg-light">
        <h2 class="blog-post-title">Another blog post</h2>
        <p class="blog-post-meta">June 21, 2020 by <a href="#">Felipe Rojas</a></p>

        <p>Hey, so you've reached this post. <strong>Have a nice day! you're doing excellent keep it up</strong> </p>
        <p>More dummy text to fill in the meantime</p>
      </article>

      <article class="blog-post p-3 border bg-light">
        <h2 class="blog-post-title">New feature</h2>
        <p class="blog-post-meta">December 14, 2020 by <a href="#">Chris</a></p>

        <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
        <ul>
          <li>First list item</li>
          <li>Second list item with a longer description</li>
          <li>Third list item to close it out</li>
        </ul>
        <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
      </article>

      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Find us in:</h4>
          <ol class="list-unstyled">
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="blog-footer">
  <p>Go think of something to put in here, boy</p>
</footer>
    
  </body>
</html>