<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Form</title>
</head>
<body>

    <form action="#" th:action="@{'/postAdded'}" th:object="${blogPost}" method="POST">
        <h2>Write new blog post</h2>
        <p><input type="text" th:field="*{title}" placeholder="Title"/></p>
        <p><input type="text" th:field="*{introduction}" placeholder="Introduction"/></p>
        <p><input type="text" th:field="*{paragraph1}" placeholder="Paragraph1"/></p>
        <p><input type="text" th:field="*{paragraph2}" placeholder="Paragraph3"/></p>
        <p><input type="text" th:field="*{paragraph3}" placeholder="Paragraph3"/></p>
        <p><input type="text" th:field="*{conclusion}" placeholder="Conclusion"/></p>
        <p><input type="submit" value="Send"/></p>
    </form>
</body>
</html>